<html>
  <head>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/menus">Menu</a></br>
    <h2>List Menu</h2>
    <table>
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Menu Type</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Restaurant ID</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% if(men.dataMenu!==null){ %>
          <% for(let i=0; i<men.dataMenu.length; i++){ %>
            <tr>
              <td><%= men.dataMenu[i].id %><td>
              <td><%= men.dataMenu[i].name %><td>
              <td><%= men.dataMenu[i].menu_type %><td>
              <td><%= men.dataMenu[i].rating %><td>
              <td><%= men.dataMenu[i].price %><td>
              <td><%= men.dataMenu[i].RestaurantId %><td>
              <td>
                <a href="/menus/<%= men.dataMenu[i].id %>/edit">Edit</a>
                <a href="/menus/<%= men.dataMenu[i].id %>/delete">Delete</a>
              </td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
    <form action="" method="post">
      <input type="text" value="" name="newName" placeholder="add name">
      <input type="text" value="" name="newMenuType" placeholder="add menu type">
      <input type="text" value="" name="newRating" placeholder="add rating">
      <input type="text" value="" name="newPrice" placeholder="add price">
      <select name="newResId">

      </select>
      <input type="submit">
    </form>
  </body>
</html>
