<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2></h2>
      <form action="/menus/<%=data.id%>/edit" method="POST">
        <input type="text" name="name" placeholder="name" value="<%=data.name%>">
        <br><br>
        <input type="text" name="menu_type" placeholder="menu_type" value="<%=data.menu_type%>">
        <br><br>
        <input type="number" name="rating" placeholder="rating" value="<%=data.rating%>">
        <br><br>
        <input type="text" name="price" placeholder="price" value="<%=data.price%>">
        <br><br>
        <select name="id_restaurant" id="">
            <%dataRes.map(val => {%>
                <option value="<%= val.id %>"><%= val.name %></option>
            <%})%>
        </select>
        <br><br>
        <button type="submit">Edit Menu</button>
    </form>
    
</body>
</html>