
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body>

<header>
    <% include ./header %>
</header>

<main>
    <div>
        <h2>List Menu</h2>
        <table border='1'>
            <tr>
              <th><b>Id.</b></th>
              <th><b>Name</b></th>
              <th><b>Menu Type</b></th>
              <th><b>Rating</b></th>
              <th><b>Price</b></th>
              <th><b>Restaurant ID</b></th>
              <th colspan=2><center><b>Action</b></center></td>
            </tr>
                <% let id=1 %>
                <% menus.forEach(dataMenu => { %>
            <tr>
              <td><%= id++ %></td>
              <td><%= dataMenu.name %></td>
              <td><%= dataMenu.menu_type %></td>
              <td><%= dataMenu.rating %></td>
              <td><%= helpers.formatuang(dataMenu.price) %></td>
              <td><%= dataMenu.Restaurant.name %></td>


              <td><a href="/menus/<%= dataMenu.id %>/edit">Edit</a></td>
              <td><a href="/menus/<%= dataMenu.id %>/delete %>" onclick="return confirm('delete this item ?');">Delete</a></td>
            </tr>
          <% }) %>
    </table>
    </div>
    <div>
        <table>
            <form name="form" method="POST" action="/menus/">
                <table>
                    <tr>
                        <td>Menu Name</td>
                        <td><input type="text" name="menu_name"></td>
                    </tr>
                    <tr>
                        <td>Menu Type</td>
                        <td><input type="text" name="menu_type"></td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td><input type="text" name="rating"></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="text" name="price"></td>
                    </tr>
                    <tr>
                        <td>Restaurant</td>
                        <td><select name="restoId">
            
                        <% menus.forEach((restoname) => { %>
                            <option value=<%= restoname.Restaurant.id %>><%= restoname.Restaurant.name %></option>
                        <%})%>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/menus/">
                                <input type="submit" value="Add Menu" id="bold" />
                            </form>
                        </td>
                        <td>
                            <form action="/home">
                                <input type="submit" value="Back" />
                            </form>
                        </td>
                    </tr>
                </table>
                </form>
        </table>
    </div>
    



</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
