<html>
  <body>
    <table>
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Menu Type</th>
        <th>Rating</th>
        <th>Price</th>
        <th>RestaurantId</th>
        <th>Action</th>
      </thead>
      <tbody>
        <%menus.forEach((menu) => {%>
          <tr>
            <td><%= menu.id%></td>
            <td><%= menu.name%></td>
            <td><%= menu.menu_type%></td>
            <td><%= menu.rating%></td>
            <td><%= menu.price%></td>
            <td><%= menu.RestaurantId%></td>
            <td>
                <a href="/menus/<%= menu.id %>/edit">edit</a>
                <a href="/menus/<%= menu.id %>/delete"onclick="return confirm('Are you sure you want to delete:\n<%= menu.id%>. <%= menu.name%>\n')">delete</a>
            </td>
          </tr>
        <%})%>
      </tbody>
    </table>
    <h2>Add Menu</h2>
    <form action="/menus" method="post">
      <fieldset>
        <label for="name">Name</label>
        <input name="name" type="text" placeholder="Name"><br>
    
        <label for="menu_type">Menu Type</label>
        <input name="menu_type" type="text" placeholder="menu_type"><br>
    
        <label for="rating">Rating</label>
        <input name="rating" type="text" placeholder="rating"><br>

        <label for="price">Price</label>
        <input name="price" type="text" placeholder="price"><br>

        <label for="RestaurantId">Restaurant</label>
        <select name="RestaurantId">
          <%restaurants.forEach((restaurant) => {%>
            <option value="<%= restaurant.id%>"><%= restaurant.name%></option>
          <%})%>
        </select>
        <button type="submit">Add New Menu</button>
      </fieldset>
    </form>
  </body>
</html>