

<div>
    <h1>Menus</h1>
</div>

<div>
    <table>
        <tr>
            <th><h3>Id</h3></th>
            <th><h3>Name</h3></th>
            <th><h3>Menu Type</h3></th>
            <th><h3>Rating</h3></th>
            <th><h3>Price</h3></th>
            <th><h3>Restaurant ID</h3></th>
            <th><h3>Action</h3></th>
        </tr>
        <%menus.forEach(menu => {%>
            <tr>
                <th><h4><%=menu.id%></h4></th>
                <th><h4><%=menu.name%></h4></th>
                <th><h4><%=menu.menu_type%></h4></th>
                <th><h4><%=menu.rating%></h4></th>
                <th><h4><%=helpers.format_currency(menu.price)%></h4></th>
                <th><h4><%=menu.Restaurant.name%></h4></th>
                <th><h4><a href="/menus/<%=menu.id%>/edit">Edit</a></h4></th>
                <th><h4><a href="/menus/<%=menu.id%>/delete">Delete</a></h4></th>
            </tr>
        <%})%>
    </table>
</div>

<div>
    <form method="post">
        <table>
            <tr>
                <th style="color:red"><%=err%></th>
            </tr>
        </table>
        <table>
            <tr>
                <th>Name</th>
                <th>:</th>
                <th><input name="name" type="text"></th>
            </tr>
            <tr>
                <th>Menu Type</th>
                <th>:</th>
                <th><input name="menu_type" type="text"></th>
            </tr>
            <tr>
                <th>Rating</th>
                <th>:</th>
                <th><input name="rating" type="text"></th>
            </tr>
            <tr>
                <th>Price</th>
                <th>:</th>
                <th><input name="price" type="text"></th>
            </tr>
            <tr>
                <th>Restaurant</th>
                <th>:</th>
                <th>
                    <select name="RestaurantId">
                        <%restaurants.forEach(restaurant => {%>
                            <option value="<%=restaurant.id%>"><%=restaurant.name%></option>
                        <%})%>
                    </select>
                </th>
            </tr>
            <tr>
                <th><input type="submit" value="Submit"></th>
            </tr>
        </table>
    </form>
</div>