<!doctype html>
<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <div>
            <h1>hello ini ejs</h1>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Menu</th>
                        <th>Rating</th>
                        <th>Price</th>
                        <th>Restaurant Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let j = 0; j < menus.length; j++){ %>
                        <tr>
                            <td><%= menus[j].id %></td>
                            <td><%= menus[j].name %></td>
                            <td><%= menus[j].menu_type %></td>
                            <td><%= menus[j].rating %></td>
                            <td><%= menus[j].price %></td>
                            <td><%= menus[j].RestaurantId %></td>
                            <td>
                                <button><a href='/menus/<%= menus[j].id %>/edit'>Edit</a></button>
                                <button onclick="return confirm('Delete record?')"><a href='/menus/<%= menus[j].id %>/delete'>Delete</a></button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div>
            <form method="POST">

                Name: <input type="text" name="name" placeholder="Chicken Teriyaki">
                Menu Type: <input type="text" name="menu_type" placeholder="Food">
                Rating: <input type="integer" name="rating" placeholder="10">
                Price: <input type="text" name="price" placeholder="50000">
                Restaurant: 
                <select name="RestaurantId"> 
                    <% for (let i = 0; i < restaurant.length; i++) { %>
                        <option value="<%= restaurant[i].id %>"><%= restaurant[i].name %></option>
                    <% } %>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
