<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%- include ../partials/menu.ejs %>
      <h1>List Menu</h1>
      <a href="/menus/add">Add</a>
      <table border='1'>
          <tr>
            <td><center>Id.</center></td>
            <td><center>Name</center></td>
            <td><center>Address</center></td>
            <td><center>Menu</center></td>
          </tr>
        <% let i=1 %>
        <% data.forEach(data =>{ %>
          <tr>
            <td><%= i++ %></td>
            <td><%= data.name %></td>
            <td><%= data.address %></td>
            <td><a href="/restaurants/listMenu/<%= data.id %>">View Menu</a></td>
          </tr>
        <% })%>
      </table>

      <a href="/">Back</a>
  </body>
</html>
