<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VIEW MENU</title>
  </head>
  <body>
    <h2>WELCOME TO <%=dataMenu.name%></h2>
    <h4>LIST MENU</h4>
    <table border = "1">
      <thead>
        <td>ID</td>
        <td>NAME</td>
        <td>MENU</td>
        <td>RATING</td>
        <td>PRICE</td>
      </thead>
      <%dataMenu.Menus.forEach(data=>{%>
      <tr>
          <td><%=data.id%></td>
          <td><%=data.name%></td>
          <td><%=data.menu_type%></td>
          <td><%=data.rating%></td>
          <td><%=data.price%></td>
      </tr>
      <%})%>
    </table>
  </body>
</html>
