<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/metaHead'); %>
    <title>Restaurant</title>
</head>
<body>
    <a href="/restaurant/back">Back cuy</a>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Address</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <%dataResto.forEach(element =>{%>
                <tr>
                    <td><%=element.id%></td>
                    <td><%=element.name%></td>
                    <td><%=element.address%></td>
                    <td>
                        <a href="/restaurant/view/<%=element.id%>">View Menu</a>
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>