<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <title>Restaurant</title>
</head>
<body>
  <div class = "container">
    <h1>Menu Restaurant : <%=menu.name%></h1>
    <form action='/restaurants/<%=menu.id%>/search' method = 'post'>
      <label>Search By</label>
      <select name = "category">
        <option value="name">Name</option>
        <option value="menu">menu</option>
        <option value="rating">rating</option>
        <option value="price">price</option>
        </select>
        <label>Keyword</label>
        <input type ='text' class='form-control'  name='keyword'> </br>
      <button type='submit' class='btn btn-success'> Search </button>
    </form> 

    <br/>
    <table class = "table">
    <thead>
      <tr class ="info">
        <th>ID</th>
        <th>Name</th>
        <th>Menu Type</th>
        <th>Rating</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <%menu.Menus.forEach(data => {%>
      <tr>
        <td><%=data.id%></td>
        <td><%=data.name%></td>
        <td><%=data.menu_type%></td>
        <td><%=data.rating%></td>
        <td><%=format.format_currency(data.price)%></td>
      </tr>
    <%})%>
    </tbody>
  </table>
  <br/>
  <br/>
  </center>
   </div>
</body>
</html>
