<html>
  <head>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/menus">Menu</a></br>
    <a href="/restaurants">Restaurant</a>
    <h2>List Menu in <%= data[0].name %></h2>
    <form action="" method="post">
      <select name="search">
        <option value="name">name</option>
        <option value="menu_type">menu_type</option>
        <option value="rating">rating</option>
        <option value="price">price</option>
      </select>
      <input type="text" value="" name="input">
      <input type="submit">
    </form></br>
    <table>
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Menu Type</th>
        <th>Rating</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% if(data[0].Menus!==null){ %>
          <% for(let i=0; i<data[0].Menus.length; i++){ %>
            <tr>
              <td><%= data[0].Menus[i].id %><td>
              <td><%= data[0].Menus[i].name %><td>
              <td><%= data[0].Menus[i].menu_type %><td>
              <td><%= data[0].Menus[i].rating %><td>
              <td><%= data[0].Menus[i].price %><td>
              </td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
